body 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #818181 0%, #2f2f2f 100%); 
    height: 100vh;
    display:grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box
{
    background-color: rgb(40, 40, 40);
    display: block;
    color: rgb(255, 255, 255);
    height: auto;
    padding: 30px;
    background-attachment: fixed;
    align-content: center;
    margin-bottom: 20px;
}
.long-buttons
{
    color: rgb(167, 186, 209);
    width: 100%;
    display: grid;
    align-items: center;
    /* padding: 20px; */
}


#response,
#result,
#transcribe
{
    /* max-height: 150px; Changed from max-width to max-height */
    max-width: 600px; 
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 10px;
    margin-top: 10px; /*Space from content above*/
}
